@import "tailwindcss";

@theme {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;

  --color-gold: #D4AF37;
  --color-gold-hover: #B89428;
  --color-gold-light: #F5E6AB;

  --color-charcoal: #222222;
  --color-charcoal-dark: #181818;
  --color-charcoal-light: #2E2E2E;

  --color-slate-custom: #333333;
  --color-neutral-light: #F4F4F4;
  --color-border-custom: #E5E5E5;
}

@layer base {
  body { 
      font-family: var(--font-body); 
      background-color: #FFFFFF; 
      color: var(--color-slate-custom); 
  }
  h1, h2, h3, h4, h5, h6, .font-heading { 
      font-family: var(--font-heading); 
  }
}

.hero-pattern { 
    background-image: linear-gradient(rgba(34, 34, 34, 0.85), rgba(34, 34, 34, 0.85)), url('/assets/bailey-anselme-small.webp');
    background-size: cover;
    background-position: center;
}